* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.main-cnt {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.main-cnt-dev {
    display: block;
}

.main-cnt .block {
    margin-bottom: 20px;
    overflow: hidden;
}

.main-cnt .block h2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.module-filter {
    height: 25px;
    line-height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 120px;
    padding: 0 10px;
    outline: none;
    font-size: 12px;
}

.main-cnt .block li {
    float: left;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    background: #ccc;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.main-cnt .block li.active {
    background: #269a55;
}

.main-cnt .block-btn a {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    background: #ccc;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.main-cnt .block-btn a {
    cursor: default;
}

.main-cnt .block-btn a.active {
    cursor: pointer;
    background: #269a55;
}

.settings {
    font-size: 0;
}

.settings span {
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.settings .setting-value {
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100px;
    padding: 0 10px;
    background: none;
    outline: none;
    margin: 0 10px;
    vertical-align: top;
}

.settings .setting-btn {
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    background: #269a55;
    display: block;
    text-decoration: none;
}

.main-cnt-time .block {
    overflow: auto;
}

.main-cnt-time table {
    border-spacing: 0;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}

.main-cnt-time table tr td:first-child,
.main-cnt-time table tr th:first-child {
    text-align: left;
}

.main-cnt-time table td,
.main-cnt-time table th {
    padding: 4px 5px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    font-weight: normal;
}

.main-cnt-time table th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #efefef;
    background-color: #f7f7f7;
    color: #666;
}

.main-cnt-time table tr:hover {
    background-color: #f7f7f7;
}

.main-cnt-time table th, .main-cnt-time table td {
    border: 1px solid #ddd;
    min-width: 40px;
    color: #000000;
}