* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.main-cnt {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.main-cnt-dev {
    display: block;
}

.main-cnt .block {
    margin-bottom: 20px;
    overflow: hidden;
}

.main-cnt .git-block {
    margin-top: 20px;
    width: 100%;
    min-height: 250px;
}

.main-cnt .git-block table td.a {
    color: #269a55;
}

.main-cnt .git-block table td.m {
    color: #ec7612;
}

.main-cnt .git-block table td.d {
    color: red;
}

.main-cnt .block table td.init {
    height: 50px;
    text-align: center;
}

.main-cnt .block table td.gray {
    color: #666;
}

.main-cnt .block h2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.module-filter {
    height: 25px;
    line-height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 120px;
    padding: 0 10px;
    outline: none;
    font-size: 12px;
}

.main-cnt .block li {
    float: left;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    background: #ccc;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.main-cnt .block li.active {
    background: #269a55;
}

.main-cnt .block-btn {
    font-size: 0;
}

.main-cnt .block-btn a {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    background: #ccc;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin: 0 10px 10px 0;
}

.main-cnt .block-btn a {
    cursor: default;
}

.main-cnt .block-btn a.active {
    cursor: pointer;
    background: #269a55;
}

.main-cnt .block-btn a.reset-bcompare-btn {
    color: #fff;
    background: red;
    cursor: pointer;
}

.settings {
    font-size: 0;
    margin-bottom: 20px;
}

.settings em {
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    width: 150px;
    font-style: normal;
}

.settings .setting-value,
.settings .setting-folder {
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100px;
    padding: 0 10px;
    background: none;
    outline: none;
    margin: 0 10px;
    vertical-align: top;
}

.settings .setting-folder {
    width: 300px;
    height: 100px;
}

.settings .setting-btn {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 3px;
    background: #269a55;
    text-decoration: none;
}

.main-cnt-list .block {
    overflow: auto;
    position: relative;
}

.main-cnt-list table {
    border-spacing: 0;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
}

.main-cnt-list table tr td:first-child,
.main-cnt-list table tr th:first-child {
    text-align: left;
}

.main-cnt-list table td,
.main-cnt-list table th {
    padding: 4px 5px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    font-weight: normal;
}

.main-cnt-list table th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #efefef;
    background-color: #f7f7f7;
    color: #666;
}

.main-cnt-list table tr:hover {
    background-color: #f7f7f7;
}

.main-cnt-list table th, .main-cnt-list table td {
    border: 1px solid #ddd;
    min-width: 40px;
    color: #000000;
}

.main-cnt-list table tr.loading td{
    padding: 0;
    border: 0 none;
    text-align: center;
    font-size: 16px;
}

.main-cnt-list table tr.loading:hover {
    background: none;
}

.main-cnt-list table td.aleft {
    text-align: left;
}

.main-cnt-list table td a {
    color: #666;
    text-decoration: none;
}

.main-cnt-list table td a:hover {
    text-decoration: underline;
    color: #269a55;
}

.main-cnt-list .block h2 {
    position: relative;
    line-height: 24px;
}

.main-cnt-list .block h2 span {
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: normal;
}

.main-cnt-list .block h2 input {
    height: 22px;
    line-height: 22px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 120px;
    margin: 0 10px;
    padding: 0 10px;
    outline: none;
    font-size: 12px;
}

.main-cnt-list .copy-list-btn,
.main-cnt-list .update-time-btn {
    color: #fff;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
    border-radius: 3px;
    background: #269a55;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
}

.main-select {
    width: 150px;
    display: inline-block;
    position: relative;
    font-weight: normal;
    margin: 0 20px;
    font-size: 12px;
}

.main-select:after {
    content: '';
    font-size: 0;
    height: 0;
    width: 0;
    line-height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
    position: absolute;
    right: 10px;
    top: 13px;
}

.main-select .select-text {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #333;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    background: #f7f7f7;
    text-indent: 10px;
    cursor: pointer;
}

.main-select .select-list {
    position: absolute;
    left: 0;
    top: 29px;
    border: 1px solid #ddd;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
    background: #fff;
    display: none;
    max-height: 210px;
    overflow-y: auto;
}

.main-select .select-list dd {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #666;
    text-indent: 10px;
}

.main-select .select-list dd.active,
.main-select .select-list dd:hover {
    background: #f7f7f7;
    color: #333;
    cursor: pointer;
}

.entry-dialog {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.entry-dialog .mask {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.entry-dialog .cont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -200px;
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    z-index: 1;
    font-size: 0;
}

.entry-dialog .entry-val {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 255px;
    font-size: 12px;
    box-sizing: border-box;
    outline: none;
}

.entry-dialog .entry-btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    background: #269a55;
    border: 0 none;
    box-sizing: border-box;
    margin-left: 20px;
    outline: none;
}

.entry-dialog .error {
    display: none;
    font-size: 12px;
    color: red;
    margin-top: 6px;
}

.entry-success {
    display: none;
    position: fixed;
    width: 100%;
    height: 40px;
    left: 0;
    top: 50%;
    margin-top: -20px;
    text-align: center;
}

.entry-success span {
    display: inline-block;
    padding: 0 50px;
    min-width: 100px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
}